%form.print-hide{method: :post}
  %fieldset
    %legend Ny anmälan
    .form-group
      %label Medlem
      %select{name: 'member_id'}
        %option{value: ''} Välj medlem...
        - @members.each do |m|
          %option{value: m[:id]} #{m[:first_name]} #{m[:last_name]}
    .checkbox
      %label
        %input{type: :checkbox, name: :vegitarian, value: 'true'}
        Vegetariskt
    .checkbox
      %label
        %input{type: :checkbox, name: :non_alcoholic, value: 'true'}
        Alkoholfritt
    .form-group
      %label Allergier
      %input{type: :text, name: :allergies}
    .form-group
      %label Meddelande till arrangörerna
      %textarea{name: :message}
    %h4 Högerfot
    .form-group
      %label Namn
      %input{type: :text, name: 'right_foot[name]'}
    .checkbox
      %label
        %input{type: :checkbox, name: 'right_foot[vegitarian]', value: 'true'}
        Vegetariskt
    .checkbox
      %label
        %input{type: :checkbox, name: 'right_foot[non_alcoholic]', value: 'true'}
        Alkoholfritt
    .form-group
      %label Allergier
      %input{type: :text, name: 'right_foot[allergies]'}
    %button.btn spara
.print-hide
  %hr
  %h3 Anmälningar

%table
  %thead
    %tr
      %th Namn
      %th Allergier
      %th Alkoholfritt
      %th Vegiterian
      %th Meddelande
      %th Högerfot
      %th.print-hide &nbsp;
  %tbody
    - @attendances.each do |a|
      %tr
        %td= "#{a[:first_name]} #{a[:last_name]}"
        %td= a[:allergies]
        %td= a[:non_alcoholic] ? 'Ja' : 'Nej'
        %td= a[:vegitarian] ? 'Ja' : 'Nej'
        %td= a[:message]
        %td= a[:rf_name] && 'Ja'
        %td.print-hide
          %form{method: :post, action: url("/attendance/#{a[:id]}")}
            %input{type: :hidden, name: '_method', value: :delete}
            %button.btn.btn-small.btn-danger -
      - if a[:rf_name]
        %tr
          %td= "#{a[:rf_name]}"
          %td= a[:rf_allergies]
          %td= a[:rf_non_alcoholic] ? 'Ja' : 'Nej'
          %td{colspan: 4}= a[:rf_vegitarian] ? 'Ja' : 'Nej'
