.text-center
  %h1.full-name= @member.full_name
  - if @member.id != @user.id
    %small.text-muted
      %button.btn-link{'hx-put': url("/#{@member.id}/nick"), 'hx-prompt': 'Nytt smeknamn', 'hx-target': '.full-name'} Ändra smeknamn
.text-center
  %img.img-fluid{src: @member.profile_picture_cdn, alt: 'Ingen profilbild uppladdad'}
.grid.grid-3
  %div
    .text-center
      %h4 Info
    %dl
      %dt Program
      %dd= @member.studied
      %dt Inskrivningsår
      %dd= @member.started
      %dt Telefon
      %dd= @member.phone
      %dt Hemadress
      %dd
        %address
          = @member.street
          = @member.zip
          = @member.city
      %dt Meriter
      %dd
      %dt Saldo
      %dd= @member.balance
  %div
    .text-center
      %h4
        Kontotransaktioner
        %small
          %a{href: url("/#{@member.id}/transactions")} (alla händelser)
    %dl
      - @transactions.each do |t|
        %dt= t[:text]
        %dd= t[:sum]
  %div
    .text-center
      %h4 Meriter
    %dl
      - @merits.each do |m|
        %dt= [m.start, m.end].join(' - ')
        %dd= m.appointment
%h2.text-center Besökta Fester
%table
  %thead
    %tr
      %th Datum
      %th Namn
      %th Tema
  %tbody
    - @parties.each do |p|
      %tr
        %td
          %a{href: "/party/#{p[:id]}"}= p[:date]
        %td= p[:name]
        %td= p[:theme]
