.row
  .col-sm-12.text-center
    %h1= @member.full_name
    -if @member.id != @user.id
      %small.text-muted
        %button.new-nick.btn.btn-link Ändra smeknamn
.row
  .col-sm-12.text-center
    %img{src: @member.profile_picture_cdn, width: '100%', alt: 'Ingen profilbild uppladdad' }
.row
  .col-sm-4
    .text-center
      %h4 Info
    %dl
      %dt Program
      %dd= @member.studied
      %dt Inskrivningsår
      %dd= @member.started
      %dt Telefon
      %dd= @member.phone
      %dt Hemadress
      %dd
        %address
          = @member.street
          = @member.zip
          = @member.city
      %dt Meriter
      %dd
      %dt Saldo
      %dd= @member.balance
  .col-sm-4
    .text-center
      %dt Kontotransaktioner
    %dl
      -@transactions.each do |t|
        %dt= t[:text]
        %dd= t[:sum]
  .col-sm-4
    .text-center
      %h4 Meriter
    %dl
      -@merits.each do |m|
        %dt= [m.start, m.end].join(' - ')
        %dd= m.appointment
.row
  .col-sm-12
    %h2.text-center Besökta Fester
    %table.table
      %thead
        %tr
          %th Datum
          %th Namn
          %th Tema
      %tbody
        -@parties.each do |p|
          %tr
            %td
              %a{href: "/party/#{p[:id]}"}= p[:date]
            %td= p[:name]
            %td= p[:theme]
:javascript
  var btn = document.querySelector(".new-nick")
  btn.addEventListener('click', function(evt) {
    var nick = window.prompt('Nytt smeknamn')

    var request = new XMLHttpRequest();
    request.open('PUT', #{@member.id} + '/nick', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.send("nick=" + nick);
    location.reload();
  });
