.row
  .col-sm-offset-3.col-sm-6.text-center
    %h1 Matrikel
.row
  .col-sm-offset-2.col-sm-6
    %table.table.sortable
      %thead
        %tr
          %th Efternamn
          %th Förnamn
          %th Smeknamn
          %th Program
          %th Inskrivningsår
          %th Merit
          %th Email
      %tbody
        -@members.each do |m|
          %tr
            %td
              %a{href: url(m[:id])}= m.last_name
            %td= m.first_name
            %td= m.nick
            %td= m.studied
            %td= m.started
            %td
            %td= m.email
%script{type: 'text/javascript', src: "/js/moment.min.js"}
%script{type: 'text/javascript', src: "/js/bootstrap-sortable.js"}
