.row
  .col-sm-12.text-center
    %h1 Matrikel
.row
  .col-sm-12
    %form
      .form-group
        %input.filter.form-control(type="text" placeholder="Filtrera på valfri kolumn, stora/små bokstäver är viktigt." onkeyup="filterTbl()")
    %table.table.sortable
      %thead
        %tr
          %th Efternamn
          %th Förnamn
          %th Smeknamn
          %th Program
          %th Inskrivningsår
          %th Merit
          %th Email
      %tbody
        -@members.each do |m|
          %tr{'data-identifier': [m.last_name, m.first_name, m.nick, m.studied, m.started, m.email].join(' ')}
            %td
              %a{href: url(m[:id])}= m.last_name
            %td= m.first_name
            %td= m.nick
            %td= m.studied
            %td= m.started
            %td
            %td= m.email
%script{type: 'text/javascript', src: "/js/moment.min.js"}
%script{type: 'text/javascript', src: "/js/bootstrap-sortable.js"}
:javascript
  function filterTbl() {
    var input = document.querySelector('input.filter');
    if (input.value == '') {
      return
    }
    var allRows = document.querySelectorAll('tr');
    for(var i = 0; i < allRows.length; i++) {
      allRows[i].hidden = true;
    }
    var rows = document.querySelectorAll('[data-identifier*="' + input.value +'"]');
    for(var i = 0; i < rows.length; i++) {
      rows[i].hidden = false;
    }
  }
