.text-center
  %h1 Matrikel
%form
  .form-group
    %input{type: "text", name: "q", placeholder: "Sök...", 'hx-get': url('/'), 'hx-trigger': 'keyup changed delay:300ms', 'hx-target': '#members-table', 'hx-include': 'this'}
%table
  %thead
    %tr
      - next_order = @order == 'asc' ? 'desc' : 'asc'
      %th
        %a.sort{href: "#", class: @sort == 'last_name' ? @order : '', 'hx-get': url("/?sort=last_name&order=#{@sort == 'last_name' ? next_order : 'asc'}"), 'hx-target': '#members-table'} Efternamn
      %th
        %a.sort{href: "#", class: @sort == 'first_name' ? @order : '', 'hx-get': url("/?sort=first_name&order=#{@sort == 'first_name' ? next_order : 'asc'}"), 'hx-target': '#members-table'} Förnamn
      %th
        %a.sort{href: "#", class: @sort == 'nick' ? @order : '', 'hx-get': url("/?sort=nick&order=#{@sort == 'nick' ? next_order : 'asc'}"), 'hx-target': '#members-table'} Smeknamn
      %th
        %a.sort{href: "#", class: @sort == 'studied' ? @order : '', 'hx-get': url("/?sort=studied&order=#{@sort == 'studied' ? next_order : 'asc'}"), 'hx-target': '#members-table'} Program
      %th
        %a.sort{href: "#", class: @sort == 'started' ? @order : '', 'hx-get': url("/?sort=started&order=#{@sort == 'started' ? next_order : 'asc'}"), 'hx-target': '#members-table'} Inskrivningsår
      %th Merit
      %th
        %a.sort{href: "#", class: @sort == 'email' ? @order : '', 'hx-get': url("/?sort=email&order=#{@sort == 'email' ? next_order : 'asc'}"), 'hx-target': '#members-table'} Email
  %tbody#members-table
    != haml(:_members_table, layout: false)
