%h1
  = @party[:name]
  %small= @party[:date]
  %a.btn.pull-right{type: :button, href: url('/')} Tillbaks

%form{method: :post, action: url("/parties_articles") }
  %fieldset
    %legend 1. Ange priser för festen
    %table.table
      %thead
        %tr
          %th Namn
          %th Pris
      %tbody
        -@articles.each do |a|
          %tr
            %td= a[:name]
            %td
              - pa = @parties_articles.select { |pa| pa[:article_id] == a[:id] }.first
              %input{type: :hidden, name: 'parties_articles[]party_id', value: @party[:id]}
              %input{type: :hidden, name: 'parties_articles[]article_id', value: a[:id]}
              %input{type: :text, name: 'parties_articles[]price', value: (pa and pa[:price]) }
    %button.btn Spara
-unless @parties_articles.empty?
  %form{method: :post, action: url("/transactions") }
    %fieldset
      %legend 2. Fyll i vad alla drack utifrån strecklistorna
      %table.table
        %thead
          %tr
            %th Namn
            -@parties_articles.each do |a|
              %th= a[:article_name]
        %tbody
          -@members.each do |m|
            %tr
              %td= [m[:last_name], m[:first_name]].join(', ')
              -@parties_articles.each do |pa|
                %td
                  %input{type: :hidden, name: 'transactions[]party_id', value: @party[:id]}
                  %input{type: :hidden, name: 'transactions[]member_id', value: m[:id]}
                  %input{type: :hidden, name: 'transactions[]article_id', value: pa[:article_id]}
                  %input{type: :hidden, name: 'transactions[]price', value: pa[:price]}
                  %input{type: :hidden, name: 'transactions[]ban', value: pa[:booking_account_number]}
                  %input{type: :hidden, name: 'transactions[]name', value: pa[:article_name]}
                  %input.col-sg-2{type: :text, name: "transactions[]units", value: m[:transactions][pa[:article_id]]}
      %button.btn Spara

