.row
  .col-sm-12.text-center
    %h1
      = @party.name
      %small
        = @party.date
.row
  .col-sm-6
    %dl
      %dt När?
      %dd= @party.date
      %dt Var?
      %dd= @party.location
      %dt Tema?
      %dd= @party.theme
      %dt Pris?
      %dd= @party.price
      %dt Att tänka på?
      %dd
        != @party.comment.to_s.gsub('\n','</br>')
  -if Date.today < @party.attendance_deadline
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %h4
            -if @party.is_attending?(@user.id)
              Du är anmäld
            -else
              Anmäl dig nu!
        .panel-body
          !=haml(:attend_form, layout: false, locals: {party_id: @party.id, a: @user.attendance(@party.id)})
-unless @albums.empty?
  %h4 Fotoalbum
  %ul
    - @albums.each do |a|
      %li
        %a{href: '#'}= a.name
%table.table
  %thead
    %tr
      %th #
      %th Namn
      %th Program
      %th
  %tbody
    - @attendances.each do |a|
      %tr
        %td= a.member_previus_attendanceise
        %td
          %a{href: "/member/#{a[:member_id]}"}= a.member_name
        %td= a.member_studied_started
