%h1
  = @party.name
  %small
    = @party.date
%dl
  %dt När?
  %dd= @party.date
  %dt Var?
  %dd= @party.location
  %dt Tema?
  %dd= @party.theme
  %dt Pris?
  %dd= @party.price
  %dt Att tänka på?
  %dd
    != @party.comment.to_s.gsub('\n','</br>')
- @albums.each do |a|
  %a{href: '#'}= a.name
%table.table
  %thead
    %tr
      %th #
      %th Namn
      %th Program
  %tbody
    - @attendances.each do |a|
      %tr
        %td= a.member_previus_attendanceise
        %td
          %a{href: "/member/#{a[:member_id]}"}= a.member_name
        %td= a.member_studied_started
