%h1
  = @party.name
  %small
    = @party.date
%dl
  %dt När?
  %dd= @party.date
  %dt Var?
  %dd= @party.location
  %dt Tema?
  %dd= @party.theme
  %dt Pris?
  %dd= @party.price
  %dt Att tänka på?
  %dd= @party.comment
- @party.photos.each do |p|
  %a.uk-overlay.uk-thumbnail{href: "##{p.id}", :'data-uk-modal' => ''}
    %img{src: p.thumb_temp}
    .uk-overlay-caption= p.caption
  .uk-modal{id: p.id, :'data-img-src' => p.file_temp}
%table.table
  %thead
    %tr
      %th #
      %th Namn
      %th Program
  %tbody
    - @attendances.each do |a|
      %tr
        %td= a.member_previus_attendanceise
        %td= a.member_name
        %td= a.member_studied_started
