%p
  Klicka på länken för att logga in.
  %a{href: "https://#{hostname}/auth?token=#{token}&ts=#{ts}&email=#{email}"}
    = "https://#{hostname}/auth?token=#{token}&ts=#{ts}&email=#{email}"
  %br
  %br
  Fungerar inte länken svara bara på det här mailet så kollar jag på det.
  %br
  OBS länken fungerar bara i 10 minuter efter det måste du beställa en ny.
  %br
  %br
  \/CdO
