%p
  Klicka på länken för att ändra lösenordet.
  %br
  %a{href: "https://#{hostname}/change-password?token=#{token}&ts=#{ts}&email=#{email}"}
    = "https://#{hostname}/change-password?token=#{token}&ts=#{ts}&email=#{email}"
  %br
  %br
  Fungerar inte länken svara bara på det här mailet så kollar jag på det.
  %br
  %br
  \/CdO

